@model PharmacySystem.Models.Request.MedicineCreateRequest
<div class="page-content-wrapper ">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="float-right page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Drixo</a></li>
                        <li class="breadcrumb-item"><a href="#">Forms</a></li>
                        <li class="breadcrumb-item active">Form Elements</li>
                    </ol>
                </div>
                <h5 class="page-title">Form Elements</h5>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <div class="row">
                            <form id="medicine-create" class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group row">
                                            <label for="MedicineGroup" class="col-sm-3 col-form-label">Medicine Group:</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="MedicineGroup" asp-for="IdMedicineGroup" asp-items="@(new SelectList(ViewBag.ListOfMedicineGroup,"IdMedicineGroup", "MedicineGroupName"))">
                                                    <option value="0">Select...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="MedicineName" class="col-sm-3 col-form-label">Medicine Name:</label>
                                            <div class="col-sm-9">
                                                <input asp-for="MedicineName" id="MedicineName" class="form-control" type="text" id="example-search-input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="ExpiryDate" class="col-sm-3 col-form-label">Expired Date:</label>
                                            <div class="col-sm-9">
                                                <input asp-for="ExpiryDate" id="ExpiryDate" class="form-control" type="date" id="example-date-input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Supplier" class="col-sm-3 col-form-label">Supplier:</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="Supplier" name="txtSupplier" asp-for="IdSupplier" asp-items="@(new SelectList(ViewBag.ListOfSupplier,"IdSupplier", "SupplierName"))">
                                                    <option value="0">Select...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group row">
                                            <label for="Quantity" class="col-sm-3 col-form-label">Quantity:</label>
                                            <div class="col-sm-9">
                                                <input asp-for="Quantity" id="Quantity" class="form-control" type="number">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Unit" class="col-sm-3 col-form-label">Unit:</label>
                                            <div class="col-sm-9">
                                                <input asp-for="Unit" id="Unit" class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="ImportPrice" class="col-sm-3 col-form-label">Import Price:</label>
                                            <div class="col-sm-9">
                                                <input asp-for="ImportPrice" id="ImportPrice" class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="SellPrice" class="col-sm-3 col-form-label">Sales Price:</label>
                                            <div class="col-sm-9">
                                                <input asp-for="SellPrice" id="SellPrice" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="Description" class="col-form-label">Description: </label>
                                        <div>
                                            <textarea asp-for="Description" id="Description" class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 m-t-10">
                                        <div class="form-group right">
                                            <div>
                                                <button id="btnSubmitCreateMedicine" type="button" class="btn btn-primary waves-effect waves-light">
                                                    Submit
                                                </button>
                                                <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </div><!-- container fluid -->

</div> <!-- Page content Wrapper -->
<script src="~/js/medicine.js"></script>

