@model PharmacySystem.Models.Request.MedicineGroupDeleteRequest


<div class="page-content-wrapper ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="float-right page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Drixo</a></li>
                        <li class="breadcrumb-item"><a href="#">Forms</a></li>
                        <li class="breadcrumb-item active">Form Elements</li>
                    </ol>
                </div>
                <h5 class="page-title">Form Elements</h5>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <div class="row">
                            <form id="medicine-create" class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group row">
                                            <label for="MedicineId" class="col-sm-3 col-form-label">Medicine Group Id:</label>
                                            <div class="col-sm-9">
                                                <input value="@Model.IdMedicineGroup" id="MedicineGroup" class="form-control" type="text" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group row">
                                            <label for="Unit" class="col-sm-3 col-form-label">Medicine Group Name:</label>
                                            <div class="col-sm-9">
                                                <input value="@Model.MedicineGroupName" id="MedicineGroupName" class="form-control" type="text" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 m-t-10">
                                        <div class="form-group right">
                                            <div>
                                                <button id="btnConfirmDeleteMedicineGroup" type="button" class="btn btn-primary waves-effect waves-light">
                                                    Confirm
                                                </button>
                                                <a asp-action="Index" asp-controller="MedicineGroup" class="btn btn-primary waves-effect waves-light">
                                                    Cancel
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div>
</div>

<script src="~/js/medicinegroup.js"></script>
