@{
    ViewData["Title"] = "Home Page";
}
@model PharmacySystem.Models.ViewModels.RevenueVM
<div class="page-content-wrapper ">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="float-right page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Drixo</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
                <h5 class="page-title">Dashboard</h5>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat m-b-30">
                    <div class="p-3 bg-primary text-white">
                        <div class="mini-stat-icon">
                            <i class="mdi mdi-cube-outline float-right mb-0"></i>
                        </div>
                        <h6 class="text-uppercase mb-0">New Orders</h6>
                    </div>
                    <div class="card-body">
                        <div class="border-bottom pb-4">
                            <span class="badge badge-success"></span>
                        </div>
                        <div class="mt-4 text-muted">
                            <div class="float-right">
                                <p class="m-0">orders</p>
                            </div>
                            <h5 class="m-0">@Model.InvoiceTotal</h5>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat m-b-30">
                    <div class="p-3 bg-primary text-white">
                        <div class="mini-stat-icon">
                            <i class="mdi mdi-tag-text-outline float-right mb-0"></i>
                        </div>
                        <h6 class="text-uppercase mb-0">Revenue - Yesterday</h6>
                    </div>
                    <div class="card-body">
                        <div class="border-bottom pb-4">
                            <span class="badge badge-success"></span>
                        </div>
                        <div class="mt-4 text-muted">
                            <div class="float-right">
                                <p class="m-0">VND</p>
                            </div>
                            <h5 class="m-0">@Model.TotalPriceYesterday</i></h5>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat m-b-30">
                    <div class="p-3 bg-primary text-white">
                        <div class="mini-stat-icon">
                            <i class="mdi mdi-tag-text-outline float-right mb-0"></i>
                        </div>
                        <h6 class="text-uppercase mb-0">Revenue - Today</h6>
                    </div>
                    <div class="card-body">
                        <div class="border-bottom pb-4">
                            <span class="badge badge-success"></span>
                        </div>
                        <div class="mt-4 text-muted">
                            <div class="float-right">
                                <p class="m-0">VND</p>
                            </div>
                            <h5 class="m-0">@Model.TotalPriceNow
                                @if(ViewBag.Yesterday < ViewBag.Today)
                                {
                                    <i class="mdi mdi-arrow-up text-success ml-2"></i>
                                }
                                else{
                                    <i class="mdi mdi-arrow-down text-danger ml-2"></i>
                                }
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat m-b-30">
                    <div class="p-3 bg-primary text-white">
                        <div class="mini-stat-icon">
                            <i class="mdi mdi-calculator float-right mb-0"></i>
                        </div>
                        <h6 class="text-uppercase mb-0">Percentage</h6>
                    </div>
                    <div class="card-body">
                        <div class="border-bottom pb-4">
                            <span class="badge badge-success"></span> 
                        </div>
                        <div class="mt-4 text-muted">
                            <div class="float-right">
                                <p class="m-0">%</p>
                            </div>
                            <h5 class="m-0">@Model.PercentDifference
                                @if(ViewBag.Percent > 0)
                                {
                                    <i class="mdi mdi-arrow-up text-success ml-2"></i>
                                }
                                else
                                {
                                    <i class="mdi mdi-arrow-down text-danger ml-2"></i>
                                }
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div><!-- container fluid -->

</div> <!-- Page content Wrapper -->